
#banner {
    position: relative;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: rgba(17, 17, 17, 0.329);
    color: white;
}

#overlay span {
    font-weight: bold;
}

#myVideo {
    position: relative;
    height: 100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    object-fit: fill;
}

.vidContainer {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}


.box {
    background-color: rgb(252, 243, 215);
}

.para {
    text-indent: 30px;
}

.image-box-style {
    width: 15rem;
}


::-webkit-scrollbar {
    radius: 30px;
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }